[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.25.0"
anytree = "==2.6.0"
graphviz = "==0.11.1"

[dev-packages]
pytest = "==4.1.1"
snapshottest = "==0.5.1"
black = "==19.3b0"
flake8 = "==3.7.7"
isort = "==4.3.16"
mypy = "==0.700"
autoflake = "==1.2"

[requires]
python_version = "3.6.8"
